@model BootstrappingMvc.Models.MoviePass

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm("Create", "MoviePass", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create a new Movie Pass</legend>

        <div class="control-group">
            @Html.LabelFor(model => model.MovieTitle, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.MovieTitle)
                @Html.ValidationMessageFor(model => model.MovieTitle)
            </div>        
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.CanUseForNewReleases, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.CanUseForNewReleases)
                @Html.ValidationMessageFor(model => model.CanUseForNewReleases)
            </div>        
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.CanSkipLine, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.CanSkipLine)
                @Html.ValidationMessageFor(model => model.CanSkipLine)
            </div>        
        </div>

        <p>
            <input type="submit" class="btn btn-success" value="Create" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
