
@model BootstrappingMvc.Models.MoviePassViewModel

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm("Create", "MoviePass", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create a new Movie Pass</legend>

        <div class="control-group">
            @Html.LabelFor(model => model.MoviePass.MovieTitle, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.MoviePass.MovieTitle)
                @Html.ValidationMessageFor(model => model.MoviePass.MovieTitle)
            </div>        
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.MoviePass.CanUseForNewReleases, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.MoviePass.CanUseForNewReleases)
                @Html.ValidationMessageFor(model => model.MoviePass.CanUseForNewReleases)
            </div>        
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.MoviePass.CanSkipLine, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.MoviePass.CanSkipLine)
                @Html.ValidationMessageFor(model => model.MoviePass.CanSkipLine)
            </div>        
        </div>

        <p>
            <input type="submit" class="btn btn-success" value="Create" />
        </p>
    </fieldset>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        
        // get the asp.net generated ID for the field
        var movieTitleField = '#@Html.ClientIdFor(model => model.MoviePass.MovieTitle)';

        $(function () {

            $(movieTitleField).focus();

            // get our list of movies from the view model
            var possibleMovies = @Html.Raw(Model.PossibleMoviesJson);

            // build our typeahead
            $(movieTitleField).typeahead({
                source: possibleMovies
            });

        });

    </script>

}
